* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0; 
}

#navbar__logo {
    background-color: #ffde6c;
    background-image: linear-gradient(to top , #ffde6c 0%, #3f3f3f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    transform: translate(-100px);

}


.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100;
}

.navbar__links:hover{
    color: #ffde6c;
    transition: all 0.3s ease;

}


@media screen and (max-width: 1300px) {
    #navbar__logo {
        transform: none;
    }
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1400px;
        padding: 0;
    }


    #navbar__logo {
        transform: none;
    }
}

.button {
    background-color: #ffde6c;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:not(:disabled):hover,
  .button:not(:disabled):focus {
    outline: 0;
    background: #ffde6c;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
  
.main {
    background-color: #131313;
}
.main__container {
    display: grid;
    align-items: flex-start;
    justify-self: center;
    margin: 0 0;
    height: 100vh;
    background-color: #131313;
    z-index: 1;
    width: 100%;
    /* max-width: 1300px; */
    padding: 0 50px;
}

.main__content h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-top: 1rem;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ffde6c;
    border-radius: 50%;
    display: inline-block;
    
}

.skill-item {
    text-align: center;
    font-size: 2rem;
}

.col span{
    position: relative;
    left: 45%;
    bottom: 85%;
    transform: translate(-50%, -50%);
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.col {
    flex-basis: 20%;
    background: #131313;
    border-radius: 10px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.col img{
    border-radius: 75px;
}


.main__content h2 {
    margin-top: 1.5rem;
    color: #ffde6c;
    font-size: 2rem;
}

.main__content h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-top: 1rem;
    font-family: sans-serif;
    max-width: 400px;
    position: relative;
    text-align: center;
}

.main__content h1:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
}

.main__content h1::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
}


ul {
    list-style: none; /* Remove default bullets */
}

li {
    color: #fff;
}
.more-skills-list li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ffde6c; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 2em;
}

.more-skills {
    text-align: center;
}
.more-skills-list {
    text-align: center;
    font-size: 1.5rem;
}
